@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 20px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px var(--fontColor);
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation a {
        border: none;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer div {
        margin: 15px;
    }

    footer p {
        padding: 0;
        margin: 0;
        justify-self: left;
    }

    .forecast {
        column-gap: 20px;
        justify-content: space-evenly;
        margin-top: 0;
    }

    .forecast div {
        display: flex;
        flex-wrap: wrap;
        width: 175px;
        justify-content: center;
    }

    .forecast h3,
    p {
        width: 100%;
        text-align: center;
    }
}