/*Must be responsive fom 320px to wider views without horizontal scrolling*/
/*Responsive main navigation must support pages listed in site plan*/

* {
    --fontColor: #2c3e50;
    --primaryColor: #34495e;
    --secondaryColor: #7f8c8d;
    --lightColor: #ecf0f1;
    --extraColor: #bdc3c7;
    /*Font family*/
    color: var(--fontColor);
}

/*********HEADER*********/
header {
    display: grid;
    grid-template-columns: 20px auto 40px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid var(--fontColor);
    column-gap: 10px;
    font-size: larger;
}

header img {
    display: block;
}

header span {
    margin-left: 10px;
}

/*********NAVIGATION*********/
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00d7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: .75rem 10px;
    border-bottom: 1px solid var(--secondaryColor);
}

.navigation li.current {
    background-color: var(--lightColor);
}

.navigation a:hover {
    background-color: var(--primaryColor);
    color: var(--lightColor);
}

/*********MAIN*********/
h1 {
    text-align: center;
}

/*********FOOTER*********/
footer {
    background-color: var(--lightColor);
    padding: 1rem 10px;
    text-align: center;
}

/*********SOCIAL*********/
.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.social img {
    width: 30px;
    height: 30px;
}

.social a:hover {
    background-color: var(--secondaryColor);
}


/*Grid/ List View*/
.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
}

.menu button {
    padding: 0.5rem 1rem;
}

section {
    border: 1px solid var(--primaryColor);
    padding: 0.5rem;
    background-color: var(--lightColor);
}

section a {
    font-size: 0.75rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
    margin-bottom: 16px;
}


.grid section {
    text-align: center;
    height: 300px;
}

.grid img {
    border: 1px solid var(--primaryColor);
    height: 50px;
    width: auto;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
    padding: 0.25rem;
}

.list img {
    display: none;
    height: 10px;
    width: auto;
}




/* HOME PAGE*/

.forecast {
    display: flex;
    flex-wrap: wrap;
}

.forecast div {
    border: 3px solid var(--primaryColor);
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
}

.forecast p {
    color: var(--primaryColor);
    padding: 0 10px;
}

.forecast h3 {
    color: var(--primaryColor);
}


.forecast img,
.weatherNow img {
    height: 75px;
    background-color: var(--extraColor);
    border: 1px solid var(--primaryColor);
    border-radius: 30px;
    align-self: center;
}

.weatherNow {
    border: 3px solid var(--primaryColor);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 80%;
    align-self: center;
    justify-self: center;
    justify-content: center;
}

.weatherNow h3,
p {
    width: 100%;
    text-align: center;
}

h2 {
    text-align: center;
}

.hero {
    margin: 0;
    max-width: 900px;
}

.hero img {
    max-width: 100%;
}

.cta a {
    text-decoration: none;
    font-size: 1rem;
}

.cta a:hover {
    text-decoration: underline;
}