* {
    --brown: #734f41;
    --lightColor1: #fff8ec;
    --lightColor2: #ffeeca;
    --green: #35622e;
    --darkGreen: #174513;
    --veryDarkBrown: #371a0d;
    --lightGreen: #67955d;
    --veryLightGreen: #b0dfa4;
    color: var(--veryDarkBrown);
    font-family: "Caudex", serif;
}

/********************HEADER********************/
header {
    background-color: var(--veryLightGreen);
    display: grid;
    grid-template-columns: 30px auto 60px;
    align-items: end;
    column-gap: 10px;
    padding-left: 5px;
}

header img {
    padding-bottom: 5px;
}

header span {
    padding-bottom: 5px;
    font-size: larger;
    color: var(--veryDarkBrown);
}

/********************NAVIGATION********************/

.hamburger {
    cursor: pointer;
    background-color: var(--darkGreen);
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
    width: 50px;
    color: var(--lightColor1);
}

.hamburger.show::before {
    background-color: var(--darkGreen);
    content: "\00d7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
    border: 2px solid var(--darkGreen);
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: .75rem 10px;
    border-top: 2px solid var(--darkGreen);
    color: var(--darkGreen);
}

/********************FOOTER********************/

footer div {
    background-color: var(--darkGreen);
    justify-items: center;
    padding: 10px;
}

footer div p,
span,
a {
    color: var(--lightColor1);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/********************BODY********************/
body {
    background-color: var(--lightColor1)
}

/*
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin: auto;
    place-items: center;
}*/

h1 {
    text-align: center;
}

h2 {
    background-color: var(--veryLightGreen);
    padding: 5px;
    font-size: 1.5rem;
}

/********************SITE PLAN********************/

.siteplan img {
    border: 5px solid var(--lightGreen);
}

.siteplan figure {
    margin: 10px;
}

.heading {
    font-size: 2rem;
    font-weight: 600;
}

.subheading {
    font-size: 1.5rem;
    font-weight: 500;
}

.maintext {
    font-size: 1rem;
    font-weight: 300;
}


/********************HOME********************/
.homePage img {
    height: 300px;
    width: auto;
    background-color: white;
    border: 2px groove var(--darkGreen);
}

/********************BREEDS********************/

#breedsList img {
    width: 100%;
    height: auto;
}

#breedList {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

#breedList section {
    border: 3px groove var(--darkGreen);
    margin: 1rem;
    box-shadow: 0 0 12px var(--darkGreen);
}

.close-button {
    height: 44px;
    width: 44px;
    margin-top: 8px;
    margin-right: 8px;
    border: 4px double var(--lightGreen);
    background-color: var(--darkGreen);
    color: var(--lightColor1);
    font-size: larger;
}

.close-button:hover {
    background-color: var(--lightGreen);
    color: var(--veryDarkBrown);
}

#breedDialog {
    background-color: var(--lightColor1);
    border: 3px solid var(--darkGreen);
}

#breedDialog::backdrop {
    background-color: rgba(255, 248, 236, 0.8)
        /*  background-color: rgba(176, 223, 164, 0.6);*/
}

.dialogHead {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--darkGreen);
}

.dialogHead h3 {
    color: var(--lightColor1);
    margin-left: 20px;
}


.dialogInfo img {
    border: 5px double var(--darkGreen);
    margin-top: 5px;
    display: flex;
    justify-self: center;
}

.dialogInfo li {
    list-style: none;
    justify-self: center;
}

#breedsList button {
    background-color: var(--darkGreen);
    color: var(--lightColor1);
    padding: 10px;
    margin: 5px;
    min-width: 80px
}


#breedsList button:hover {
    border: 3px double var(--veryLightGreen);
    box-shadow: 0 0 8px var(--darkGreen);
}

#breedsList div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
}

/********************FACTS AND FAQ********************/


/*****FAQ*****/

.interestingFacts li {
    list-style-type: "\2658";
    padding-left: 5px;
    margin-bottom: 10px;
}

.faq h3,
p {
    margin-left: 1rem;
}

/*****FORM*****/

.form {
    border: 5px double var(--darkGreen);
    padding: 10px;
    margin-bottom: 1rem;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.userQuestion {
    display: flex;
    flex-direction: column;
}

.form label,
legend,
div {
    display: block;
    color: var(--darkGreen);
}

.form fieldset {
    border: 1.25px solid var(--darkGreen);
}

.form input[type="text"],
input[type="email"],
input[type="tel"] {
    display: block;
    width: 100%;
    border: 1px solid var(--darkGreen);
}

.form input[type="checkbox"] {
    margin-right: 10px;
}

.form input[type="submit"] {
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--veryLightGreen);
    color: var(--veryDarkBrown);
    border: 2px outset var(--darkGreen);
    box-shadow: 1px 1px 4px var(--darkGreen);
}

.form input[type="submit"]:hover {
    background-color: var(--darkGreen);
    color: var(--lightColor1);
    border: 3px double var(--lightGreen);
    box-shadow: none;
}

.form input:required {
    border-left: 5px solid var(--darkGreen);
}

/****************************************MEDIUM SCREEN****************************************/

@media screen and (min-width:580px) {
    header {
        grid-template-columns: 30px auto;
        width: 100%;
        border: 3px solid var(--darkGreen);
    }

    header img {
        padding-bottom: 10px;
        padding-left: 5px;
    }

    header span {
        display: flex;
        padding: 10px;
        font-size: 1.5rem;
    }

    /********************NAVIGATION********************/
    .navigation {
        display: block;
        padding: 5px;
        background-color: var(--darkGreen);
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;
        width: 100%;
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation ul li a {
        color: var(--lightColor1);
        text-decoration: none;
    }

    .hamburger {
        display: none;
    }

    .navigation .current a {
        border: 3px double var(--veryLightGreen);
        padding: 5px;
    }

    .navigation li :hover {
        border: 3px solid var(--veryLightGreen);
        padding: 5px;
        text-decoration: underline;
    }

    /********************SITE PLAN********************/
    .siteplan img {
        height: 500px;
        width: auto;
    }

    /********************BREEDS********************/
    .breedButtons {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #breedsList img {
        max-width: 300px;
    }

    #breedList {
        grid-template-columns: 1fr 1fr;
    }

    #breedList section:hover {
        box-shadow: 0 0 1rem var(--green);
        border: 3px groove var(--green);
    }

    /********************FAQ AND FACTS********************/

    .faq {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .faq h1 {
        grid-column: span 2;
    }

    .faq section {
        margin: 10px;
    }

    #faq,
    .interestingFacts {
        border: 2px groove var(--green);
    }

    .faq section h3 {
        margin: 10px;
    }

    .faq section p {
        margin: 1rem;
    }

    .interestingFacts ul {
        margin-right: 1rem;
    }


    .form {
        grid-column: span 2;
        width: 50%;
        justify-self: center;
        padding: 10px;
    }

    .askQuestion {
        grid-column: span 2;
        width: 100%;
    }

    .askQuestion h2,
    .askQuestion p {
        text-align: center;
    }


    /*

    #breedsList div {
        display: grid;
        column-count: 2;
        column-gap: 10px;
    }

    #breedsList div section {
        grid-template-columns: 1fr;
        max-width: 350px;
    }

    /****************************************LARGE SCREEN****************************************/

    @media screen and (min-width:64rem) {

        header,
        main,
        nav,
        footer {
            max-width: 1200px;
            margin: 0 auto;
        }

        #breedList {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}