* {
    --brown: #734f41;
    --lightColor1: #fff8ec;
    --lightColor2: #ffeeca;
    --green: #35622e;
    --darkGreen: #174513;
    --veryDarkBrown: #371a0d;
    --lightGreen: #67955d;
    --veryLightGreen: #afdfa3;
    color: var(--veryDarkBrown);
    font-family: "Caudex", serif;
}

/********************HEADER********************/
header {
    background-color: var(--veryLightGreen);
    display: grid;
    grid-template-columns: 30px auto 60px;
    align-items: end;
    column-gap: 10px;
    padding-left: 5px;
}

header img {
    padding-bottom: 5px;
}

header span {
    padding-bottom: 5px;
    font-size: larger;
}

/********************NAVIGATION********************/

.hamburger {
    cursor: pointer;
    background-color: var(--darkGreen);
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
    width: 50px;
    color: var(--lightColor1);
}

.hamburger.show::before {
    background-color: var(--darkGreen);
    content: "\00d7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;

}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: .75rem 10px;
    border-bottom: 2px solid var(--darkGreen);
}

/********************BODY********************/
body {
    background-color: var(--lightColor1)
}

h1 {
    text-align: center;
}

h2 {
    background-color: var(--veryLightGreen);
    padding: 5px;
    font-size: 1.5rem;
}

/********************SITE PLAN********************/

.siteplan img {
    border: 5px solid var(--lightGreen);
}

.siteplan figure {
    margin: 10px;
}

.heading {
    font-size: 2rem;
    font-weight: 600;
}

.subheading {
    font-size: 1.5rem;
    font-weight: 500;
}

.maintext {
    font-size: 1rem;
    font-weight: 300;
}

/********************BREEDS********************/
#breedsList img {
    height: 200px;
    width: auto;
}

.breedButtons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#breedsList button {
    background-color: var(--darkGreen);
    color: var(--lightColor1);
    padding: 10px;
    margin: 5px;
    min-width: 80px
}

#breedsList button:hover {
    border: 3px double var(--veryLightGreen);
}

.breedListDiv {
    border: 2px solid var(--lightGreen);
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(autofill, minmax(350px 1fr));
    gap: 15px;
    margin: 0 auto;
    place-items: center;
}

#breedsList section {
    border: 2px solid var(--darkGreen);
    margin: 10px;
    display: grid;
    justify-self: center;
    justify-items: center;
}

.breedsList {
    display: grid;
}

/****************************************MEDIUM SCREEN****************************************/

@media screen and (min-width:580px) {
    header {
        grid-template-columns: 30px auto;
        width: 100%;
        border: 5px solid var(--darkGreen);
    }

    header img {
        padding-bottom: 10px;
        padding-left: 5px;
    }

    header span {
        display: flex;
        padding: 10px;
        font-size: 1.5rem;
    }

    /********************NAVIGATION********************/
    .navigation {
        display: block;
        padding: 5px;
        background-color: var(--darkGreen);
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;
        width: 100%;
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation ul li a {
        color: var(--lightColor1);
        text-decoration: none;
    }

    .hamburger {
        display: none;
    }

    .navigation .current a {
        border: 3px double var(--veryLightGreen);
        padding: 5px;
    }

    .navigation li :hover {
        border: 3px solid var(--veryLightGreen);
        padding: 5px;
        text-decoration: underline;
    }

    /********************SITE PLAN********************/
    .siteplan img {
        height: 500px;
        width: auto;
    }

    /********************BREEDS********************/
    .breedButtons {
        flex-wrap: nowrap;
    }

    /****************************************LARGE SCREEN****************************************/

    @media screen and (min-width:64rem) {

        header,
        main,
        nav,
        footer {
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}